#editor {
  border: 1px solid #646cffaa;
  padding: 10px;
}

#editor .ProseMirror {
  outline: none;
  caret-color: #646cffaa;
}

.toolbar {
  margin-bottom: 12px;
  border-bottom: 1px solid #646cffaa;
  padding-bottom: 12px;
}

button {
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  border-color: #646cff;
}
button:hover:not(:disabled) {
  background-color: #646cff;
  color: #fff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.menu-group {
  margin-bottom: 8px;
}

.menu-group .menu-item:not(:last-of-type) {
  margin-right: 8px;
}
.menu-group .menu-item.is-active {
  background-color: #646cffaa;
  color: #fff;
}

.ProseMirror .block_tile {
  padding-left: 20px;
  position: relative;
}

.ProseMirror blockquote {
  margin: 16px 0;
  position: relative;
  padding-left: 16px;
  color: #767c85;
}

.ProseMirror blockquote::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  display: inline-block;
  width: 4px;
  border-radius: 2px;
  background-color: #e2e6ed;
}

.editor-footer {
  font-size: 12px;
  text-align: right;
  background-color: #646cff33;
  border-radius: 2px;
  line-height: 2;
  padding: 0 8px;
  margin: 6px -12px -6px;
}
