#editor {
  border: 1px solid #646cffaa;
  min-height: 300px;
  padding: 10px;
}

#editor .ProseMirror {
  outline: none;
  caret-color: #646cffaa;
}

.toolbar {
  margin-bottom: 12px;
  border-bottom: 1px solid #646cffaa;
  padding-bottom: 12px;
}

.menu-group {
  margin-bottom: 8px;
}

.menu-group .menu-item:not(:last-of-type) {
  margin-right: 8px;
}
.menu-group .menu-item.is-active {
  background-color: #646cffaa;
  color: #fff;
}

.ProseMirror .block_tile {
  padding-left: 20px;
  position: relative;
}

.ProseMirror blockquote {
  margin: 16px 0;
  position: relative;
  padding-left: 16px;
  color: #767c85;
}

.ProseMirror blockquote::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  display: inline-block;
  width: 4px;
  border-radius: 2px;
  background-color: #e2e6ed;
}
